
@{
    ViewData["Title"] = "View";
}

<div class="d-flex flex-column align-items-center">
<h3>We have received your order. Sit Back and relax!</h3>
    <a class="btn btn-info mt-3" asp-controller="Menu" asp-action="Index">Back to Menu</a>
</div>